Requirements
 
The purpose of this project is to create a game for our client using the AGK library and C++. The general idea the client is aiming for is a type of racing game where the user has the ability to choose between two different types of racing tracks at the start of the game; one track will be linear where the user will have an aerial view of his car and will be racing in a straight line while other trying to avoid cars and damage to his vehicle. The other track will also have a top-down view, but the entire track will be visible and will include laps. Our hope for this type of track is to have the track be randomly generated every time the user selects this type of race.
Our client wants displayed on the screen how fast (in MPH) the user’s car is going at all times and a damage bar showing how much damage the car can take before the player loses. Different factors will affect the user’s speed: collision with another car or driving off the track will greatly reduce the player’s speed until the car is corrected.